/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
  }
  
  /*---- apply a natural box layout model to all elements -------*/
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    height: 100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    color: $fontColor;
}

// START HEADER
#headerWrapper {
    background-color: $secondaryColor;
    color: black;
}

header {
        align-items: center;
        padding: 1rem $gutter;
        gap: 8px;
        display: grid;
        grid-template-columns: 62px auto;
    h1 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: $boldWeight;
    }
}
// END HEADER


// START NAV
#navWrapper {
    background-color: $secondaryColor;
}

nav {
    button {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        padding: .6rem;
    }
    ul {
        display:none; //when the ul doesn't have a class, we don't want it to display.
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-top: solid 1px $blue;
        li {
            border-bottom: solid 1px $blue;
            a {
                display: block;
                padding: .9rem;
                color: black;
                text-decoration: none;
            }
        } //end li
        li.active a {
            background-color: $blue;
        }
        li a:hover {
            background-color: lighten($blue, 10%);
        }
    }// end ul
    ul.open {
        display: block;
    }
}
// END NAV



// START MAIN
main h1, div.allCards{
    margin: 2vw;
}

div.allCards {
    section {
        border: 2px solid $blue;
        border-radius: 10px;
        overflow: hidden;
        margin: 1rem 0;
        h2, p, img {
            margin: 0;
            padding: 1rem $gutter;
        }
        h2 {
            background-color: $secondaryColor;
            font-size: 1.5rem;
            text-align: center;
        }
        img {
            width: 100%;
            height: auto;
            display: block; //by default the img is inline, so we change it to block which gets rid of the small gap between things
        }
        img.e2e {padding: 0;}
        p {
           font-style: italic;
        }
        a {
            display: block; //by default, its inline, and changing it to block lets us add padding
            background-color: $primaryColor;
            padding: .75rem;
            text-align: center;
            margin: 0 3rem 1rem 3rem;
            border-radius: 8px;
            color: black;
            text-decoration: none;
            font-weight: $boldWeight;
            &:hover {
                background-color: darken($primaryColor, 5%);}
        }
    }
} // end div.allCards

// END MAIN




// footer stuff start
#footerWrapper {
    background-color: $cream;
}

footer {
    padding: 0.5rem $gutter;
    font-weight: $normalWeight;
    color: black;
    // section {}
    section.contact {
        p {
            font-size: 1.2rem;
            // margin: 0.5rem;
        }
        ion-icon {
            color: black;
            padding-right: 5px;
        }
        a {color: black;}
    } //end of contact
    section.social {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        a {
            display: block;
            // border: 1px red solid;
            border-radius: 5px;
            font-size: 2rem;
            margin: .2rem;
            padding: .5rem;
            color: black;
            &:hover {
                // color: white;
                background-color: $primaryColor;
            }
        }
    }//end of social
    section.location {
        font-size: 1.2rem;
        padding: 1rem 0;
    }//end of location
    p.legal {
        margin: 0;
        padding: .5rem;
        text-align: center;
        font-size: .9rem;
    }
} // END OF FOOTER STUFF