$primaryColor: #fe9c97; 
$secondaryColor: #d5e6e2;
$cream: #f8f8e3;
$fontColor: #333;
$dblue: #406f6d;
$blue: #99bbb4;

$defaultFont: 'Poppins', sans-serif; 
$lightWeight: 200;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 16px;


// cutie pink fe9c97
// stroke pink ba5e62
// dark blue 69afad
// logo background f8f8e3
// circle stroke d5e6e2